@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --amarelo: #ffd600;
    --azul: #8f9bef;
}

*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.9rem;
}



h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    margin-block: 10px;
}

.small {
    font-size: 0.8rem;
}


.cta_btn_primary {
    background-color: var(--amarelo);
    color: #ffffff;
    padding: 5px 10px;
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
    border: 1px solid #ffd600;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: .2s all;
}

.cta_btn_secondary {
    background-color: transparent;
    color: var(--amarelo);
    padding: 5px 10px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid var(--amarelo);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: .2s all;
}

.cta_btn_primary:hover,
.cta_btn_secondary:hover {
    box-shadow: 0px 0px 15px 1px #ffe355;
}

img {
    max-width: 100%;
    height: auto;
}

.img-header {
    width: 120px;
    height: 60px;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* Define a largura máxima do layout */
    margin: 0 auto;
    /* Centraliza o conteúdo horizontalmente */
}


/* Layout de colunas usando Flex */
.column-layout {
    display: flex;
    /* Permite que as colunas quebrem para a próxima linha */
    flex-wrap: wrap;
}

.column {
    /* Cada coluna ocupa o mesmo espaço disponível */
    flex: 1 1 400px;
    /* Espaçamento entre as colunas */
    margin: 0 10px;
}

/* Isso cria um layout de grade responsivo com colunas que se ajustam automaticamente ao tamanho da tela.*/
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Cria colunas automáticas com no mínimo 250px de largura */
    grid-gap: 20px;
    /* Espaçamento entre as células */
}


footer { 
    width: 100%;
    bottom: 0;
    height: 92px;
    margin-top: 50px; /* ajustar depois */
    background-color: #303030;
    color: #FFFFFF;
}

.footer-obj {
    margin-left: 50px; 
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 0.9375rem;
}

.footer-text {
    font-size: 0.6875rem;
    margin-left: 50px;
}



.container-navegation {
    display: flex;
    height: 100px;
    align-items: center;
    width: 100%;
}

.list-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
}

.list-menu li {
    list-style-type: none;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    justify-content: space-between;
}

.list-menu li:hover {
    font-weight: 400;
    color: #FFD600;
    transition: 0.3s ease;
}

.line-style-top {
    height: 1px;
    background-color: #FFD600;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.img-header {
    margin-left: 30px;
}

.login-area {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}
.space {
    margin-left: 10px;
}

.login-btn {
    margin-top: 15px;
    width: 120px;
    height: 35px;
}



