.fale-conosco {
    text-align: center;
    margin-top: 20px;
}

.title {
    background-color: #FFD600;
    color: white;
    width: 92%;
    margin-left: 5%;
    height: 40pt;
    border-radius: 7px;
    align-items: center;
    text-align: left;
    padding-top: 30px;
    padding-left: 10px;
    font-size: 1.8rem;
}

.introduction {
    padding: 25px;
    font-size: 1.0em;
}

.forms {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.input-forms {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 0.9rem;
}

.label-span {
    color: #FF0000;
}

input[type="text"] {
    width: 480px;
    padding: 8px;
    margin-bottom: 20px;
    border: 0.5px solid #C5C5C5;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 480px;
    padding: 8px;
    margin-bottom: 20px;
    border: 0.5px solid #C5C5C5;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"], textarea {
    font-family: "Inter", sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.send-button {
    background-color: #FFD600;
    color: #FFFFFF;
    width: 131px;
    height: 34px;
    border-radius: 7px;
    border: 1px;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 100px;
}

    .send-button:hover {
        transform: scale(1.02);
        cursor: pointer
    }

.error-message {
    color: red;
    display: none;
}

.error-message {
    font-size: 0.9rem;
    margin-bottom: 10px;
}
