.services {
    text-align: center;
    margin-top: 20px;
}

.title {
    background-color: #FFD600;
    color: white;
    width: 92%;
    margin-left: 5%;
    height: 40px;
    border-radius: 7px;
    align-items: center;
    text-align: left;
    padding-top: 30px;
    padding-left: 10px;
    font-size: 1.8rem;
}

.texts {
    margin-left: 10%;
    margin-right: 10%;
}

.text-prof {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-wrapper1 {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.profissionais-titulo {
    align-items: center;
    font-size: 2.5rem;
    line-height: 55.57px;
    color: #FFD600;
}

.profissionais-imagens {
    min-width: 350px;
    height: auto;
    margin-top: 15%;
}

.profissionais-span {
    text-decoration: underline;
}

.profissionais-texto {
    font-size: 1.25rem;
    line-height: 27.79px;
    text-align: justify;
    margin-bottom: 5%;
}

.usuarios-span {
    text-decoration: underline;
}

.cuidadores-span {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 27.79px;
    text-align: justified;
}

.text-user {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    margin-top: 8%;
    margin-bottom: 5%;
}

.usuarios-imagens {
    min-width: 350px;
    height: auto;
    margin-bottom: 10%;
}

.usuarios-texto {
    font-size: 1.25rem;
    line-height: 27.79px;
    text-align: justify;
    margin-top: 0;
}

.usuarios-titulo {
    align-items: center;
    height: 55.62px;
    font-size: 2.5rem;
    line-height: 55.57px;
    color: #FFD600;
    margin-top: 0;
}

.text-wrapper2 {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:680px) {
    .text-1, .text-2 {
        width: auto;
        margin-left: 0;
    }

    .texts {
        width: 92%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .profissionais-titulo {
        align-items: center;
        font-size: 1.8rem;
        line-height: 55.57px;
        color: #FFD600;
    }

    .profissionais-texto {
        font-size: 1rem;
        line-height: 27.79px;
        margin-bottom: 5%;
    }

    .usuarios-texto {
        font-size: 1rem;
        line-height: 27.79px;
        text-align: justify;
        margin-top: 0;
    }

    .usuarios-titulo {
        align-items: center;
        height: 55.62px;
        font-size: 1.8rem;
        line-height: 55.57px;
        color: #FFD600;
        margin-top: 0;
    }

    .usuarios-span, .profissionais-span {
        text-decoration: underline;
    }

    .cuidadores-span {
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 27.79px;
    }
}