main {
    display: grid;
    grid-template-areas: 
    'aside section'
    'footer footer';

    /* Ajustar distanciamento dos elementos*/
    
    /* grid-template-columns: 200px auto;
    grid-template-rows: auto 100px;
    grid-gap: 20px;
    height: 100vh; */
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 214, 0, 0.28);
} 

.descripitions {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    line-height: 150%;
    
}

aside h1{
    font-size: 1.5rem;
} 

aside p {
    margin: 20px auto;
    width: 70%;
    height: 287px;
    font-size: 24px;
}

section {
    grid-area: section;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 880px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-cadastro {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.select-user {
    display: flex;
    flex-direction: row;
    padding: 45px;
}

#tipo {
    margin-left: 10px;
    border:1px solid #FFD600;
    border-radius: 5px;
    width: 15rem;
}

.column-left, .column-right {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0 5px;
    text-align: start;
}

.button-conclude {
    background-color: #FFD600;
    color: #FFF;
    width: 172px;
    height: 43px;
    border: #FFD600;
    border-radius: 7px;
    margin: 60px auto;
    font-size: medium;
    cursor: pointer;
}


.dadosPessoais > input, .adress > input {
    border: 2px solid #C5C5C5;
    border-radius: 5px;
    width: 90%;
    height: 1.65rem;
    margin: 2px 0 8px 0;
    padding: 5px 0 0 5px;
}

.selecionaEscolha {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 70%;
}
 
#checkboxAreas {
    cursor: pointer;
}

.checkboxAreas > input {
    border: 1px solid #FFD600;
}

#asideLateral {
    justify-content: center;
    align-items: center;
}

#asideLateral img {
    width: 85%;
    margin-bottom: 4rem;
}

#checkbox1{
    background-color: #FFF;
    border: 2px solid #FFD600;
    border-radius: 2px;
}

#campoObrig{
    display: inline-block;
}