@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(globals.css);

*,

html {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
}

body {
    border-radius: 302px 0320px 302px 32000px;
    background: linear-gradient(200deg,  #ffffff 30%, #FFECA1 35%);
   
   
}
header {
   
    box-sizing: border-box;
    border-bottom: 1.5px solid gray;
}
footer-home {
    width: 100%;
    bottom: 0;
    height: 80px;
    background-color: #303030;
    color: #FFFFFF;
    position: fixed;

  
}
.footer-obj-home {
    margin-left: 50px; 
    display: inline-block;
    text-align: left;
    align-items: center;
    font-size: 0.9375rem;
  
}
.footer-text-home {
    font-size: 0.6875rem;
    margin-left: 50px;
}
 /* header inicio copia do global*/
 
.small {
    font-size: 0.8rem;
}


.cta_btn_primary {
    background-color: #FFD600;
    color: #ffffff;
    padding: 5px 10px;
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
    border: 1px solid #ffd600;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: .2s all;
}

.cta_btn_secondary {
    background-color: transparent;
    color: #FFD600;
    padding: 5px 10px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #ffd600;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: .2s all;
}

.cta_btn_primary:hover,
.cta_btn_secondary:hover {
    box-shadow: 0px 0px 15px 1px #ffe355;
}

img {
    max-width: 100%;
    height: auto;
}

.img-header {
    width: 140px;
    height: 70px;
}


.container-navegation {
    display: flex;
    height: 100px;
    align-items: center;
    width: 100%;
}

.list-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
}

.list-menu li {
    list-style-type: none;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    justify-content: space-between;
}

.list-menu li:hover {
    font-weight: 400;
    color: #FFD600;
    transition: 0.3s ease;
}



.img-header {
    margin-left: 30px;
}

.login-area {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}

.space {
    margin-left: 10px;
}

.login-btn {
    margin-top: 15px;
    width: 120px;
    height: 35px;
}


.border-header {
    width: 100%;
    border-bottom: 1.5px solid #FFD600;
}

.logo-header {
    width: 120px;
    height: 60px;
    margin-left: 30px;
}

.container-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100px;
}

.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.menu-list li {
    margin-right: 20px;
}

.menu-list li:hover {
    color: #FFD600;
    cursor: pointer;
    font-weight: 400;
    transition: 0.3s ease;
}

.menu-list a {
    text-decoration: none;
    color: #000;
}

.menu-list a:visited {
    color: #000;
}

.spaces {
    margin-right: 10px;
    margin-left: 10px;
}

 /*header fim.*/

.tabela {
    display: flex;
    align-items:center;

}
.tabela img {
    width: 50px;
    height: 55px;
    top: 181px;
    left: 48px;
    gap: 0px;
    opacity: 0px;
    border-left: 1px solid gray;
    margin: 20px;
    
    

}
.tabela p {
    display: block;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    display: inline;
    line-height: 24.2px;
    text-align: center;

}

.container {
    padding: 5px;
    margin-left: 10px;
    display: flex;

}
.list-menu a {
    list-style-type: none;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    color: black;
    text-decoration: none;
}


.list-menu a:hover {
    font-weight: 400;
    color: #FFD600;
    transition: 0.3s ease;
}
.left {
  
    padding: 40px;
    margin-left: 40px;

}
.left img {
    width: 350px;
    height: 300px;
    gap: 0px;
    border-radius: 62px 0px 0px 0px;
    margin-top: 50px;
    
}
.left p {
    width: 350px;
    background-color: #8F9BEF;
    font-family: Inter;
    color: #ffffff;
    font-size: 10px;
    line-height: 18px;
    text-align:left;
    border-radius: 0px 0px 62px 0px;
    margin-top: -4px;
   
}
.right {
    width: 1000px;
    margin-top: 50px;
   
}
.title {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 770px;
    height: 71px;
    top: 35px;
    left: 670px;
    gap: 0px;
    opacity: 0px;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

}
.Span-home {
    font-family: Inter,;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
    text-align: center;
    color: #ffe355;
    text-decoration: underline;


}
.benefits {
    width: 703px;
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
    text-align: justify;
    padding-left: 200px;
    font-family: "Inter", sans-serif;
    margin-bottom: px;
}

.texto-botão-home {
    width: 703px;
    height: 27px;
    margin-top: 118px;
    margin-left: 150px;
    align-content: center;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 26.63px;
    text-align: justify;
    
}

.cta-button-home {
    
    background-color: transparent;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    cursor: pointer;
    transition: .2s all;
    margin-top: 50px;
    margin-left: 50%;
}


.cta-button-home:hover {

    box-shadow: 0px 0px 0px 6px #ffe355;

}

.telefone {
    position: relative;
    padding: 40px;
    margin-left: 40px;
}


.telefone img {
    width: 360px;
    height: 400px;
    top: 41px;
    margin-left: 78%;
    gap: 0px;
    border-radius: 62px 0px 0px 0px;
    opacity: 0px;
    margin-top: 1px;

}
.rodape {
    display: flex;
    margin-bottom: 80px;
    background-color: #8F8F8F;
    color: #ffffff; 
    font-family: "Inter", sans-serif;
       
  
}  
.rodape-cabecalho {
    font-family: "Inter", sans-serif;
    font-size: 15px;
}
.secao-rodape {
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: 0.6875rem;
    margin-left: 100px;
     padding-right: 200px;
}

.secao-rodape-redes-sociais {
    font-family: "Inter", sans-serif;
    font-size: 0.6875rem;
    border-left: 2px solid #FFFFFF;
    padding-left: 50px;
}

.secao-rodape-redes-sociais img {
    width: 45px;
    height: 30px;

}

