main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.login {
  justify-content: center;
  text-align: center;
  padding: 25px;
}

.line-separation {
  border: 1px solid #ffd600;
}

.form-login {
  display: flex;
  margin: 25vh auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.user-email, .user-pass {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-email, .icon-secure {
  margin-right: 10px;
}

 .pass-invisible{
  position: absolute;
  right: 25%;
}

.user-email > input,
.user-pass > input {
  margin: 15px 0;
  width: 350px;
  height: 40px;
  padding: 15px 0 10px 10px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  font-style: italic;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  color: #b1b1b1;
}

.button-login {
  text-align: center;
}

.button-login > button {
  background-color: #ffd600;
  color: #fff;
  font-size: large;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.input-login:focus {
  border-color: #FFD600;
}

.login-area {
  display: flex;
  justify-content: center;
}

.login-btn {
  margin-top: 15px;
  width: 12rem;
  height: 35px;
}