/*Rever este código*/
.img-header {
  display: block;
  margin: 3vh auto;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.4));
  

  /* -webkit-box-shadow: 1px 0px 14px 4px rgba(0,0,0,0.33);
-moz-box-shadow: 1px 0px 14px 4px rgba(0,0,0,0.33);
box-shadow: 1px 0px 14px 4px rgba(0,0,0,0.33); */
}

.line-separation {
  border: 1px solid #ffd600;
}

.form-login {
  position: absolute;
  display: block;
  margin: 25vh auto;
  width: 100%;
}

.user-email, .user-pass {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-email, .icon-secure {
  margin-right: 10px;
}

 .pass-invisible{
  position: absolute;
  right: 25%;
}

.user-email > input,
.user-pass > input {
  margin: 15px 0;
  width: 350px;
  height: 40px;
  padding: 15px 0 10px 10px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  font-style: italic;
}

.button-login {
  text-align: center;
}

.button-login > button {
  background-color: #ffd600;
  color: #fff;
  font-size: large;
  border: none;
  border-radius: 6px;
  width: 140px;
  height: 35px;
  cursor: pointer;
}
