main {
    padding: 25px;

}

.area-sobre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-us-area {
    width: 45%;
    height: auto;
    padding: 15px;
    background-color: #FFD600 ;
    border-radius: 7px 0px 0px 7px;
}

.about-us-images {
    width: 45%;
    height: auto;
    background-color: #FFD600;
    border-radius: 0px 7px 7px 0px;
}

#title {
    font-size: 25px;
    color: #ffffff;
    margin: 15px;
}

.about-us-area p {
    text-align: justify;
    margin-top: 25px;
    color: #323232;
    font-size: 1em;
    margin: 15px;
}

.image-local {
    margin: 15px;
}

.image-local img {
    margin-left: 15px;
    width: auto;
    height: auto;
    margin-top: 15px;
}

.logo-area-detail {
    width: 92.6%;
    height: 80px;
    margin-top: -15px;
    text-align: center;
    background-color: #FFD600;
    border-radius: 0px 0px 7px 7px;
}

.logo-area-detail img {
    width: 80%;
}

.description-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3%;
}

.devs-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.devs-card {
    width: 200px;
    height: 290px;
    border-radius: 7px;
    border: 1px solid #FFD600;
    margin: 0 auto 25px auto;
}

.description-card {
    display: flex;
    flex-direction: column;
}

.description-card a {
    text-decoration: none;
}

.description-card img {
    margin: 15px;
}

#description-profile {
    margin: 0;
    margin-left: 15px;
}

#sub-profile {
    font-size: 12px;
    margin-left: 15px;
    margin-block: 0;
    font-weight: 300;
}

.line-profile {
    width: 165px;
    height: 1px;
    margin-top: 5px;
    margin-left: 15px;
    background-color: #d6d6d6;
}

.icons-card {
    display: flex;
    margin: auto;
    margin-top: -5px;
    gap: 10px;
}