
@{
    ViewData["Title"] = "MinhasContratacoes";
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/globals.css">
        <link rel="stylesheet" href="~/css/minhas_contratacoes.css">
        <link rel="stylesheet" href="~/css/area_profissionais.css">
        <link rel="icon" href="/img/logo.png" type="image/x-icon">
        <script defer src="~/js/avaliation_modal.js"></script>
        <script defer src="~/js/set_observation.js"></script>
        <title>ProFinder - Minhas contratações</title>
    </head>
<!--AREA DO HEADER-->
    <body>
        <header>
            <div class="container-navegation">
                <a href="@Url.Action("Index", "Home")"><img class="img-header" src="/img/logo.png" alt="Logo do site"></a>

                <div class="list-menu-finder">
                    <a href="@Url.Action("AreaProfissionais", "Usuarios")"><li>Profissionais</li></a>
                    <a href="@Url.Action("MinhasContratacoes", "Home")"><li>Minhas Contratações</li></a>
                    <a asp-action="Edit" asp-controller="Usuarios" asp-route-id="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" class="account-li"><li>Meu Perfil</li></a>
                    <a asp-area="" asp-controller="Usuarios" asp-action="Logout"><li>Sair</li></a>
                </div>
            </div>

        </header>
        <div class="line-style-top"></div>
        <!--FIM - AREA DO HEADER-->
        <!--INÍCIO CONTEÚDO-->

        <main>
            <div class="hiring-area">
                <div class="hiring-container">
                    <div class="stage ">
                        Nome do Paciente
                        <p id="no-profile">Fulano da Silva Jr.</p>
                    </div>
                    <div class="stage b">
                        Idade
                    <p id="no-profile">42</p>
                    </div>
                    <div class="stage c">
                        Necessidade
                    <p id="no-profile">Cuidador de Idosos</p>
                    </div>

                    <div class="stage ">
                        Período Contratado
                    <p id="no-profile">01/01/2024 a 01/02/2024</p>
                    </div>
                    <div class="stage b">
                        Valor Recebido
                    <p id="no-profile">R$1,00</p>
                    </div>
                    <div class="stage c">
                        Registros
                    <p id="no-profile">22</p>
                    </div>

                    <!-- ÁREA DO MODAL -->
                    <div class="modalzin">
                        <div class="modal-img">
                            <img src="/img/avaliar_prof.png" alt="">
                            <button id="user-assess" class="user-open"> Avaliar Usuário</button>
                        </div>

                        <br>

                        <div class="modal-img">
                            <img src="/img/Task.png" alt="">
                            <button id="set-assess" class="set-open"> Inserir Observações</button>
                        </div>

                        <br>

                        <div class="modal-img">
                            <img src="/img/PDF.png" alt="">
                            <button id="user-assess"> Baixar Relatório</button>
                        </div>

                    </div>





                    <div class="cover" id="disappear"></div>
                    <div class="cover" id="open">

                        <div class="align-icon">
                            <img src="/img/Close.png" alt="icone para fechar" id="closeModal">
                        </div>

                        <div class="container-main">
                            <div class="Linha1">
                                <h4>Avaliação Profissional</h4>
                            </div>

                            <div class="Linha2">
                                <h6>Fulano da Silva Jr.</h6>
                            </div>

                            <div class="Linha3">
                                <p>Você ficou satisfeito com o atendimento deste profissional?</p>
                            </div>

                            <div class="Linha4">
                                <button> Sim </button>
                                <button> Não </button>
                            </div>

                            <div class="Linha5">
                                <p>Oque achou o valor cobrado deste profissional?</p>
                            </div>

                            <div class="Linha6">
                                <img src="~/img/estrela.png" alt="Estrala de avaliação">
                                <img src="~/img/estrela.png" alt="Estrala de avaliação">
                                <img src="~/img/estrela.png" alt="Estrala de avaliação">
                                <img src="~/img/estrela.png" alt="Estrala de avaliação">
                                <img src="~/img/estrela.png" alt="Estrala de avaliação">
                            </div>

                            <div class="Linha7">
                                <p>Qual nota você daria para a qualidade do serviço prestado?</p>
                            </div>

                            <div class="Linha8">
                                <img src="~/img/estrela.png" alt="Estrala de avaliação">
                                <img src="~/img/estrela.png" alt="Estrala de avaliação">
                                <img src="~/img/estrela.png" alt="Estrala de avaliação">
                                <img src="~/img/estrela.png" alt="Estrala de avaliação">
                                <img src="~/img/estrela.png" alt="Estrala de avaliação">
                            </div>

                            <div class="Linha9">
                                <textarea name="" id="" cols="30" rows="10" placeholder="Deixe aqui uma avaliação geral sobre este profissional. "></textarea>
                            </div>

                            <div class="Linha10">
                                <button>Avaliar</button>
                            </div>
                        </div>

                    </div>

                    <div class="cover2" id="disappear_set">
                        <div class="cover2" id="open_set">
                            <div class="align-icon">
                                <img src="/img/Close.png" alt="icone para fechar" id="closeModalSet">
                            </div>

                            <div class="container-main">
                                <div class="titulo_observacao">
                                    <p>Observações sobre o paciente</p>
                                </div>
                                <div class="name_observacao">
                                    <p>Name</p>
                                    <textarea name="name_obs" id="textarea_observacao" cols="65" rows="4" placeholder="Insira aqui os cuidados que foram realizados com o paciente (ex: hora do café, hora do almoço, hora do banho e etc."></textarea>
                                </div>

                                <div class="div_button">
                                    <button id="registerBtn"> Registrar </button>
                                </div>

                            <!-- Adiciona este novo contêiner para armazenar as observações -->
                            <div id="observation_container" class="observation-container"></div>
                            </div>
                        </div>

                        <!-- ÁREA DO MODAL -->
                    </div>


                </div>

                <div class="navega-contratacoes">
                    <p id="setaEsquerda"> < </p>
                    <p class="pagCont">1</p>
                    <p id="setaDireita"> > </p>
                </div>
        </main>
    </body>
        <!--FIM CONTEÚDO-->
        <!--AREA DO FOOTER-->
        <footer>
            <div class="footer">
                <p class="footer-obj">ACESSIBILIDADE</p>
                <p class="footer-obj">TERMOS E CONDIÇÕES DO SITE</p>
                <p class="footer-obj">PRIVACIDADE</p>
                <p class="footer-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consectetur fugiat
                    illum odit. Asperiores sapiente id nostrum maiores odio nam. Rem totam quos mollitia
                    repudiandae nihil minus commodi doloremque velit.
                </p>
            </div>
        </footer>
    <!--FIM AREA DO FOOTER-->

</html>

